.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-item {
  position: relative;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: #ddd;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(244, 4, 4, 0.1);
  transition: transform 0.2s ease;
  background-color: rgb(10, 10, 10);
}

.movie-item img {
  max-width: 100%;
  height: auto;
}

.movie-item:hover {
  transform: translateY(-5px);
}

h2 {
  font-size: 18px;
  margin: 10px 0;
}

p {
  font-size: 14px;
}

.movie-item h2,
.movie-item p {
  margin: 0;
}

.movie-item p:nth-child(3) {
  color: #e74c3c;
  font-weight: bold;
}

.movie-item p:nth-child(2) {
  color: #3498db;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 1200px) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
